.navbarLista{
  display: grid;
  grid-template-columns: 10% 90%;
  .logo{

    height: 4rem;
    width: 4rem;
    .editLogo{
      position: relative;
      left: 1rem;
      filter: invert(84%) sepia(27%) saturate(5750%) hue-rotate(285deg) brightness(81%) contrast(83%);
    }
    p{
      position: relative;
      left: 0.5rem;
      color: white;
      font-size: 1.3rem;
    }
  }
  .lista{
    ul{
      display: flex;
      justify-content: space-around;
      li{
        position: relative;
        top: 1.5rem;
        a{
          color: white;
          text-decoration: none;
          font-size: 1.5rem;
        }

      }

    }
  }

}

