.navbarLista{
  display: grid;
  grid-template-columns: 10% 90%;
  background-color: #333333;
  height: 6rem;
  .logo{
    height: 4rem;
    width: 4rem;
    a {
      text-decoration: none;
      .editLogo {
        position: relative;
        left: 1rem;
        filter: invert(84%) sepia(27%) saturate(5750%) hue-rotate(285deg) brightness(81%) contrast(83%);
      }

      p {
        position: relative;
        left: 0.5rem;
        color: white;
        font-size: 1.3rem;
        font-weight: 800;
        text-shadow: 2px 2px 2px #c16a9f;
      }
    }
  }
  .lista{
    ul{
      display: flex;
      justify-content: space-around;
      li{
        position: relative;
        top: 1.9rem;
        a{
          color: white;
          text-decoration: none;
          font-size: 1.5rem;
        }

      }

    }
  }

}

@keyframes animation {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.logo:hover{
  animation-name: animation;
  animation-duration: 3s;
}
